@use "global"
@use "media-queries"

.additional-section
  +global.padding-top
  text-align: center
  padding-bottom: 40px

  &--orange
    +global.section-orange

  &--white
    +global.section-white

  &--data-protection
    padding-bottom: 0

  &__title
    +global.title-font-size
    margin: 0

  &__subtitle
    +global.subtitle-font-size
    margin: 80px 0 0

  &__text
    +global.text-font-size
    margin-bottom: 30px
  
  &__entry
    margin-bottom: 30px
    display: flex
    flex-direction: column
    +media-queries.minMedium
      margin-bottom: 50px
      width: calc(100% / 3)

  &__entry-icon
    +global.icon-font-size
    padding: 15px 0
    +media-queries.atMedium
      padding-top: 20px

  &__entry-icon-text
    +global.text-font-size
    color: inherit
    word-wrap: break-word
    margin: 0

  &__entry-link
    text-decoration: none
    display: flex
    flex-direction: column
    color: inherit
    &:hover
      text-decoration: underline


.desktop-columns_mobile-rows
  display: flex
  flex-direction: column
  max-width: global.$max-width
  margin: auto
  +media-queries.minMedium
    flex-direction: row
    justify-content: space-around

.sales-locations
  display: grid
  grid-template-columns: 1fr
  justify-items: center
  max-width: global.$max-width
  margin: auto
  padding: 0
  gap: 30px
  +media-queries.minMedium
    grid-template-columns: 1fr 1fr
    gap: 50px

  &__item
    display: flex
    flex-direction: column
