@use "global"

.data-protection
	max-width: 800px
	margin: auto

h1
	+global.title-font-size()
	word-break: break-word

h2
	+global.subtitle-font-size()

p
	+global.text-font-size()

a
	word-break: break-word