=font-face($family, $path, $weight: normal, $style: normal)
  @font-face
    font-family: $family
    src: url('#{$path}.woff2') format('woff2'), url('#{$path}.woff') format('woff'), url('#{$path}.ttf') format('truetype')
    font-weight: $weight
    font-style: $style

+font-face('RobotoRegular', '../fonts/roboto-v18-latin-regular')
+font-face('RobotoBold', '../fonts/roboto-v18-latin-900', 900)



/* Chrome browser doesn't need to download font files */
=roboto-bold()
  font-family: Roboto, 'RobotoBold', sans-serif
  font-weight: 900

=roboto-regular()
  font-family: Roboto, 'RobotoRegular', sans-serif
  font-weight: 400

=brush-script()
  font-family: "Brush Script MT", "Brush Script Std", "Lucida Calligraphy", "Lucida Handwriting", "Apple Chancery", cursive
  font-size: 30px
  font-weight: 600
  letter-spacing: 2px

