@use "colors"
@use "effects"
@use "fonts"
@use "global"
@use "media-queries"

.navigation
  background: colors.$white
  z-index: 10
  position: fixed
  top: 0
  width: 100%
  height: 50px
  +media-queries.minMedium
    position: static
    height: unset

  &--sticky
    position: fixed
    // https://stackoverflow.com/questions/12969228/chrome-slow-scrolling-with-fixed-position-elements
    // forces the browser to utilize GPU acceleration
    -webkit-transform: translate3d(0, 0, 0)
    -webkit-backface-visibility: hidden
    top: 0
    box-shadow: 0px 5px 8px rgba(colors.$black, 0.3)

  &__mobile
    width: 100%
    height: 50px
    box-shadow: 0px 5px 8px rgba(colors.$black, 0.3)
    +media-queries.minMedium
      display: none

  &__mobile-container
    height: 50px
    display: flex
    position: absolute
    right: 20px
    line-height: 50px

  &__mobile-icon
    width: 30px
    margin: 10px 15px
  
  &__mobile-icon::before,
  &__mobile-icon::after,
  &__mobile-icon-inner
    background-color: colors.$black
    border-radius: 4px
    content: ''
    display: block
    height: 4px
    margin: 4px 0
    transition: all .3s ease-in-out

  &__mobile-icon--close
    &::before
      transform: translateY(6px) rotate(45deg)
    &::after
      transform: translateY(-10px) rotate(-45deg)
    .navigation__mobile-icon-inner
      transform: scale(0)

  &__mobile-text
    +fonts.roboto-bold
    margin: 0

  &__list
    max-width: global.$max-width
    margin: 0 auto
    padding: 0
    list-style: none
    +media-queries.maxSmall
      display: none
    +media-queries.minMedium
      display: flex

    &--visible
      +effects.fadeInDown
      display: block
      margin: 0 -20px
      background: colors.$white

      li
        width: 100%

  &__entry
    +fonts.roboto-bold
    font-size: 20px
    text-align: center
    flex: 1 1 calc(100% / 3)
    width: calc(100% / 3)
    +media-queries.atLarge
      font-size: 28px

  &__link
    display: block
    text-decoration: none
    color: colors.$orange
    width: 100%
    height: 65px
    padding: 20px 0
    box-sizing: border-box
    +media-queries.atLarge
      padding: 16px 0 24px
    &:hover
      background: colors.$orange
      color: colors.$white
      border-bottom: 5px solid colors.$white
    &--current-section
      +media-queries.maxSmall
        border-left: 7px solid colors.$black
        border-right: 7px solid colors.$black
        color: colors.$black
      +media-queries.minMedium
        border-top: 7px solid colors.$orange
        padding-top: 13px
      +media-queries.atLarge
        padding: 9px
      
