@use "colors"
@use "fonts"
@use "media-queries"

$side-padding-mobile: 20px
$side-padding-desktop: 40px
$top-padding-large: 50px
$top-padding-medium: 30px
$max-width: 1200px

body
  +fonts.roboto-regular
  font-size: 20px
  color: colors.$black
  +media-queries.maxSmall
    border-top: 50px solid colors.$white

img
  max-width: 100%

.wrapper
  padding: 0 $side-padding-mobile
  +media-queries.minMedium
    padding: 0 $side-padding-desktop
  
  &--data-privacy
    padding-top: 40px

=section-orange()
  background: colors.$orange
  color: colors.$white

=section-white()
  background: colors.$white
  color: colors.$orange

=padding-top()
  padding-top: $top-padding-medium
  +media-queries.atLarge
    padding-top: $top-padding-large

=title-font-size()
  +fonts.roboto-regular
  font-weight: 700
  font-size: 40px
  +media-queries.atMedium
    font-size: 45px
  +media-queries.atLarge
    font-size: 50px

=subtitle-font-size()
  +fonts.roboto-bold
  font-size: 30px
  letter-spacing: .3px
  +media-queries.atMedium
    font-size: 34px
  +media-queries.atLarge
    font-size: 38px

=text-font-size()
  +fonts.roboto-regular
  font-size: 20px
  +media-queries.atMedium
    font-size: 22px
  +media-queries.atLarge
    font-size: 24px

=icon-font-size()
  font-size: 45px
  +media-queries.atMedium
    font-size: 55px
  +media-queries.atLarge
    font-size: 60px

=banner-title-font-size()
  +fonts.roboto-regular
  font-size: 20px

=banner-text-font-size()
  +fonts.roboto-regular
  font-size: 16px
