@use "normalize"
@use "_colors"
@use "_effects"
@use "_reveal-on-scroll"
@use "_media-queries"
@use "_fonts"
@use "_icons"
@use "_global"
@use "_header"
@use "_navigation"
@use "_product"
@use "_additional-section"
@use "_about-us"
@use "_datenschutz"
@use "_cookie-banner"

html
    scroll-behavior: smooth
    scroll-padding-block-start: 50px

    @media (prefers-reduced-motion)
        scroll-behavior: auto

    +media-queries.minMedium
        scroll-padding-block-start: 65px

main
    overflow: hidden
